#!/usr/bin/make -f


# Set Debian ARCH variables
SHELL	:= sh -e
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

# Export to ensure things below work properly
export DH_OPTIONS

DH_VERBOSE = 1
export DH_OPTIONS=-v

%:
	dh $@ --with autoreconf --with autotools_dev

# debian folder install files take care of this
override_dh_auto_install:
	@echo ''
	@echo '---------------------------------------'
	@echo ' Override_dh_auto_install'
	@echo '---------------------------------------'
	@echo ''
	@echo ' Nothing to be done for $(MAKE) install'
	@echo ''

