Source: comptext
Section: hamradio
Priority: extra
Maintainer: Debian Hamradio Maintainers <debian-hams@lists.debian.org>
Uploaders: Greg Beam <ki7mt@yahoo.com>, Kamal Mostafa <kamal@whence.com>
Build-Depends: debhelper (>= 9.2.0~),
				pkg-config,
				autotools-dev,
				libfltk1.3-dev | libfltk1.1-dev,
				libfile-fcntllock-perl,
				libx11-dev
Standards-Version: 3.9.5
Homepage: http://www.w1hkj.com/
Vcs-Git: http://anonscm.debian.org/cgit/pkg-hamradio/comptext.git
Vcs-Browser: http://anonscm.debian.org/cgit/pkg-hamradio/comptext.git

Package: comptext
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GUI based tool to compare two text streams
 Comptext is used to compare two text streams. It's comparison function uses
 a linear-programming technique. It computes total number of errors, the
 character error rate (CER) and the bit error rate (BER).

